doctype html
html(dir="rtl" lang="he") 
   head
      title מערכת הוספת סטודנטים
      meta(charset='utf-8')
      style
         include ../public/style.css 
      script.
         console.log('error','#{error}');
         //Function that listens for error events >> 
            window.addEventListener('load', () => {
               setTimeout(() => {
                  if('#{error}'){
                     alert('#{error}');
                  }
                  else if('#{note}'){
                     alert('#{note}');
                  }
               })
            });
   body
      div.div1
         h2 מערכת הוספת סטודנטים:
         form(method = "post" action = "add" border="1")
            label(for="id") מספר ת.ז : 
               input(type="text" id="id" name="id" value=id required autofocus)
            br
            label(for="name") שם מלא :
            input(type="text" id="name" name="name" value=name required)
            br
            br
            label(for="city") עיר : 
               input(type="text" id="city" name="city" value=city required)
            br
            br
            label(for="toar") בחר תואר : 
               select(id="toar" name="toar" size="3" required)
                  option(value="BA" selected=toar_type['BA']) BA
                  option(value="MA" selected=toar_type['MA']) MA
                  option(value="PHD" selected=toar_type['PHD']) PHD
            br
            br
            button(type="submit") הוספה
            br
            
            br      
            a(href="http://localhost:8080/student") חזרה לתפריט הראשי


